{% extends 'base/root.html' %}
{% block body %}
<div class="my-3">
    <h2>Step 3: Sentiment Rating</h2>
    <p class="text-muted">Sentiment rating table of each comment</p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-dark">
            <thead>
                <tr class="text-center">
                    <th class="text-info fs-5 fw-bold">Comment</th>
                    <th class="text-info fs-5 fw-bold">Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr id="comment-{{ loop.index }}">
                    <td>{{ comment.message }}</td>
                    <td>
                        <div class="spinner-border text-info" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock %}