{% extends 'base/root.html' %}
{% block body %}
<!-- START - SELECT PAGE -->
<div class="my-3">
    <div class="row">
        <div class="col-md-6 align-self-center">
            <div class="container">
                <h2>Step 1: Select a page</h2>
                <p class="text-muted">Select a facebook page to fetch the posts</p>
                <!-- START - FACEBOOK PAGES -->
                <div id="fb_pages_container">
                    <button class="d-flex align-items-center btn btn-primary" type="button" disabled>
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading pages...</span>
                        </div>
                        <span class="ms-3">
                            Loading pages...
                        </span>
                    </button>
                </div>
                <!-- END - FACEBOOK PAGES -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <img src="{{ url_for('static', filename='img/bg.jpg') }}" class="img-fluid border border-2 rounded-9"
                    alt="">
            </div>
        </div>
    </div>
</div>
<!-- END - SELECT PAGE -->
{% endblock %}
{% block custom_js %}
<script src="{{ url_for('static', filename='js/root.js') }}"></script>
{% endblock %}